[jupiter]
    mode = "local"

    [jupiter.registry.default]
        endpoints = ["localhost:2379"]
        timeout = "3s"

    [jupiter.logger.default]
        # debug = true
        level = "info"
        dir = "./logs/"
    [jupiter.logger.jupiter]
        # debug = true
        level = "info"
        dir = "./logs/"

    [jupiter.trace.jaeger]
        endpoint = "http://localhost:14268/api/traces"
        sampler = 1

        # [jupiter.trace.otelgrpc]
        #     endpoint = "localhost:4317"
        #     sampler = 1

[jupiter.server]
    [jupiter.server.http]
        port = 9527
    [jupiter.server.grpc]
        port = 9528
    [jupiter.server.govern]
        port = 9529

[jupiter.grpc]
    [jupiter.grpc.example]
        address = "127.0.0.1:9528"
        level = "error"
        block = false

    [jupiter.mysql.example]
        dsn = "root:root@tcp(127.0.0.1:3306)/juno?timeout=20s&readTimeout=20s"
        debug = true
        maxIdleConns = 50
        connMaxLifeTime = "20m"
        level = "panic"
        slowThreshold = "400ms"
        dialTimeout = "1s"

    [jupiter.rocketmq.example]
        [jupiter.rocketmq.example.consumer]
            enable = true
            addr = ["127.0.0.1:9876"]
            group = "testGroup"
            dialTimeout = "3s"
            rwTimeout = "3s"
            topic = "DefaultCluster"
            subExpression = "*"
            rate = 100
            enableTrace = true
        [jupiter.rocketmq.example.producer]
            group = "testGroup"
            addr = ["127.0.0.1:9876"]
            dialTimeout = "3s"
            rwTimeout = "3s"
            topic = "DefaultCluster"
            enableTrace = true

[jupiter.resty.example]
    addr = "http://127.0.0.1:9527"

[jupiter.redis.example]
    [jupiter.redis.example.stub]
        debug = false
        maxIdle = 10
        maxActive = 50
        dialTimeout = "2s"
        readTimeout = "2s"
        idleTimeout = "60s"
        enableAccessLog = false
        [jupiter.redis.example.stub.master]
            addr = "redis://@127.0.0.1:6379"
        [jupiter.redis.example.stub.slaves]
            addr = ["redis://@127.0.0.1:6379"]
