name: golangci-lint
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up Go go1.18
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        run: |
          go env
          go get -v -t -d ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.3.1
        with:
          args: "--out-${NO_FUTURE}format colored-line-number"
          skip-build-cache: false
          skip-cache: false
          skip-pkg-cache: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          only-new-issues: false
